<% include ../partials/header %>
 <!--this is campgrounds.ejs page renames to index.ejs following RESTful Routing system-->
<!--navbar moved into header-->

<div class="container idx mt-5">
<div class="container jumbotron ">
    <div class="container">
    <h1>Welcome To YelpCamp</h1>
    <h3>Know about all beautiful campgrounds from all over the world </h3>
    <a href="/campgrounds/new" class="btn btn-lg btn-primary">Add New Campground</a>
    </div>
</div>

  <div class="row text-center">

        

        <% campgrounds.forEach(function(campground){ %>

              <div class="col-md-3 col-sm-6 cap">
                  <div class="thumbnail img-responsive camps">
                        <img class="img-responsive" src="<%= campground.image %>" alt="image">
                       <div class="caps">
                        <div class="caption">
                         <em>  <h4 style="color: rgb(211, 211, 211);"> <%= campground.name %> </h4> </em>
                        </div>
                        <p style="margin: 0px;"> <!--More Info button which on being clicked will open shows template to show details of that campground-->
                            <a id="btn-border" href="/campgrounds/<%=campground._id %>" class="btn btn-primary"><em>More Info>></em></a> <!--here / had an error-->
                        </p>
                       </div>
                  </div>
              </div>

           <% }); %>
   </div>
</div>
</div>
<% include ../partials/footer %>
